.register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 70px);
    padding: 20px;
    background: url(../images/register-bg.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;
}

.register-container {
    width: 500px;
    height: 570px;
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInRight 1s ease forwards;
    opacity: 0;
    transform: translateX(50px);
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box h1 {
    margin-bottom: 20px;
}

.register-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-box button {
    width: 100px;
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.register-box button:hover {
    background-color: #ffb300;
}

.register-box p {
    margin: 20px 0;
    font-size: 14px;
}

.register-box a {
    color: #ffc107;
    text-decoration: none;
    font-size: 14px;
}

.register-box a:hover {
    text-decoration: underline;
}

.logo-picture {
    text-align: center;
}

.logo-picture img {
    width: 500px;
    transition: all 0.3s ease;
}

.logo-picture p {
    color: #f0d438;
    font-size: 18px;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    .register {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }
    .logo-picture img {
        width: 450px;
        transition: all 0.3s ease;
    }
    .register-container {
        width: 600px;   
        margin-top: 20px;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 768px) {
    .register-container {
        width: 400px; /* Adjust width as needed */
        animation-name: fadeInBottom;
        height: auto;
    }

    .register-box input,
    .register-box button,
    .register-box a {
        width: 100%; /* Make inputs, button, and links full width */
        margin-bottom: 15px; /* Increase spacing between elements */
    }

    .register-box button {
        width: auto; /* Let button width adjust based on content */
    }

    .register-container,
    .register-box {
        text-align: center; /* Center elements */
    }
}

@media screen and (max-width: 480px) {
    .register-container {
      width: 300px;
    }
    .register-box input {
      font-size: 12px;
    }
    .register-box button {
      width: 70px;
      font-size: 12px;
    }
    .logo-picture img {
      width: 300px;
    }
  }

